<div class="row" style="text-align: center;">
  <div class="col-md-12">
    <h1><%= @user.username %></h1>
    <h3>Spending Data</h3>
    <p><%= link_to "View Historical Data", history_search_path %></p>
    <!-- <hr> -->
  </div>
</div><hr><hr><br>

<!-- Weekly Spending row -->
<% if @user.transactions.any? %>
  <div class="row">
    <div class="col-md-8">
      <%= column_chart @user.categories.map { |category|
        { name: category.name, data: category.transactions.where(user_id: @user.id).group_by_day(:date, format: '%a, %b %d', range: Date.today.beginning_of_week..Date.today.end_of_week).sum(:amount), id: 'week-column-chart' }
      } %>
    </div>
    <div class="col-md-4" style="border-left: 1px #fff solid; text-align: right;">
      <h1>Weekly Spending</h1>
      <p>The weekly spending graph is a graph which groups transactions by category and day, in the form of a column chart. This chart will always consist of transactions within the current week, which we begin on Monday. We begin this chart on Monday because Monday is the start of the work week, and typically the beginning of the "spending" week as well.</p>
    </div>
  </div><hr>

  <!-- Monthly Spending row -->
  <div class="row">
    <div class="col-md-4" style="border-right: 1px #fff solid;">
      <h1>Monthly Spending</h1>
      <p>The monthly spending graph is a graph which groups transactions by category and day, in the form of a <strong>line chart</strong>. This chart consists of all transactions within the current month, beginning on the first day of the month and ending on the last day. <strong>This is based on the amount of calendar days in the given month, not on a preset increment, such as 30 days.</strong></p>
    </div>
    <div class="col-md-8">
      <%= line_chart @user.categories.map { |category|
        { name: category.name, data: category.transactions.where(user_id: @user.id).group_by_day(:date, range: Date.today.beginning_of_month..Date.today.end_of_month).sum(:amount), id: 'week-column-chart' }
      } %>
    </div>
  </div><hr>

  <!--All Time Spending row -->
  <div class="row">
    <div class="col-md-8">
      <!-- DATE RANGE FOR GROUP_BY ===> range: Date.today.beginning_of_week..Date.today.end_of_week -->
      <%= pie_chart @transactions.joins(:category).group(:name).sum(:amount), donut: true %>
    </div>
    <div class="col-md-4" style="border-left: 1px #fff solid; text-align: right;">
      <h1>All Time Spending</h1>
      <p>This graph is a graph which groups transactions by category, in the form of a pie chart. This chart consists of <strong>every transaction belonging to the user.</strong>This is used to demonstrate more general, long-term spending habits, and will become more relevant as more transactions are added.</p>
    </div>
  </div><hr>
<% else %>
  <h3>Oops! Nothing to show here yet. Please add transactions to see your spending data.</h3>
<% end %>

<!-- Eat/Drink -->
<!-- Groceries -->
<!-- Bills -->
<!-- Entertainment -->
<!-- Transportation -->
<!-- Other -->
<!-- DATE RANGE FOR GROUP_BY ===> range: Date.today.beginning_of_week..Date.today.end_of_week -->
