<hr>
<% if @interval === "day" %>
  <%= line_chart @user.categories.map { |category|
    { name: category.name, data: category.transactions.where(user_id: @user.id).group_by_day(:date, range: @start_date..@end_date).sum(:amount) }
  } %><br><hr>
<% elsif @interval === "week" %>
  <%= line_chart @user.categories.map { |category|
    { name: category.name, data: category.transactions.where(user_id: @user.id).group_by_week(:date, range: @start_date..@end_date).sum(:amount) }
  } %><br><hr>
<% elsif @interval === "month" %>
  <%= line_chart @user.categories.map { |category|
    { name: category.name, data: category.transactions.where(user_id: @user.id).group_by_month(:date, range: @start_date..@end_date).sum(:amount) }
  } %><br><hr>
<% end %>

<div class="row centered-row">
  <% @user.transactions.where(:date => @start_date..@end_date).order(:date).reverse.each do |transaction| %>
    <div class="col-md-12">
      <div class="transaction-block">
        <h2><%= transaction.date %> - $<%= '%.02f' %transaction.amount %></h2>
        <h4><%= transaction.description %></h4>
      </div>
    </div>
  <% end %>
</div>
