<% if @transaction.errors.any? %>
  <h3>Oops there were some errors. Please try again:</h3>
  <ul>
    <% @transaction.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
  </ul>
<% end %>

<%= form_for [@user, @transaction] do |f| %>
  <p>
    <%= f.label :income, 'Type' %><br>
    <%= f.select :income, [['Expense', false], ['Income', true]] %>
  </p><br>
  <p>
    <%= f.label :description %><br>
    <%= f.text_field :description %>
  </p><br>
  <p>
    <%= f.label :amount, 'Amount ($USD)' %><br>
    <%= f.number_field :amount, :step => 0.01 %>
  </p><br>
  <p>
    <%= f.label :date %><br>
    <%= f.date_field :date, :value => DateTime.now.strftime('%Y-%m-%d') %>
  </p><br>
  <p>
  <p>
    <%= f.label :category_id, 'Category' %><br>
    <%= f.select(:category_id, [['Eat/Drink', 1], ['Bills', 2], ['Groceries', 3], ['Entertainment', 4], ['Transportation', 5], ['Paycheck', 6], ['Other', 7]]) %>
  </p><br>
  <p>
    <%= f.submit :class => 'btn btn-info my-button-success' %>
  </p>
<% end %>
