<div class="row centered-row">
  <h1>Transactions and Goals</h1><hr><hr>
  <div class="col-md-6">
    <h2>Most Recent Transactions</h2>
    <%= link_to "New Transaction", new_user_transaction_path(@user) %><hr>
    <% if @transactions.any? %>
      <% @transactions.order('created_at DESC').limit(10).each do |transaction| %>
        <div class="transaction-block">
          <h2><%= transaction.date %> - $<%= '%.02f' %transaction.amount %></h2>
          <h4><em><%= transaction.description %></em></h4>
          <h4>Category: <%= transaction.category.name %></h4>
        </div>
      <% end %>
    <% end %>
  </div>

  <div class="col-md-6">
    <h2>Budget Goals</h2>
    <%= link_to "New Category", new_user_category_path(@user) %><hr>
    <% @user.categories.each do |category| %>
      <div class="transaction-block">

        <h2><%= category.name %></h2>
        <p><%= link_to "View Transactions", user_category_path(@user, category) %> | <%= link_to "Delete This Category", user_category_path(@user, category), data: { confirm: 'Are you sure you wish to delete this category?', method: 'delete' } %></p><hr>
        <% if category.goals.any? %>
        <div class="row">
          <div class="col-md-6">
            <h3><u>Weekly</u></h3>
            <% if category.goals.where(weekly: true).any? %>
              <% category.goals.where(weekly: true).each do |goal| %>
                <h4>Limit: $<%= goal.base_amount %></h4>
                <% if goal.spent_amount >= goal.base_amount %>
                  <h4 class="red-text">Spent: $<%= '%.02f' %goal.spent_amount %></h4>
                <% else %>
                  <h4>Spent: $<%= '%.02f' %goal.spent_amount %></h4>
                <% end %>
                <h4><%= link_to "Change Goal", edit_category_goal_path(category, goal) %></h4>
              <% end %>
            <% else %>
              <%= link_to "Add a new goal", new_category_goal_path(category) %>
            <% end %>
          </div>

          <div class="col-md-6">
            <h3><u>Monthly</u></h3>
            <% if category.goals.where(weekly: false).any? %>
              <% category.goals.where(weekly: false).each do |goal| %>
                <h4>Limit: $<%= goal.base_amount %></h4>
                <% if goal.spent_amount >= goal.base_amount %>
                  <h4 class="red-text">Spent: $<%= '%.02f' %goal.spent_amount %></h4>
                <% else %>
                  <h4>Spent: $<%= '%.02f' %goal.spent_amount %></h4>
                <% end %>
                <h4><%= link_to "Change Goal", edit_category_goal_path(category, goal) %></h4>
              <% end %>
            <% else %>
              <%= link_to "Add a new goal", new_category_goal_path(category) %>
            <% end %>
          </div>
        </div>

        <% else %>
          <p>
            No spending goals set for this category!<br>
            <%= link_to "Add a new goal", new_category_goal_path(category) %>
          </p>
        <% end %>
      </div>
    <% end %>
  </div>
</div><br><br><br>
